<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>User Dashboard Page</title>
</head>
<body>
<section>
    <div class="card me-4 ms-4">
        <div class="card-body">
            <h1 class="text-center">Add Contact</h1>
            <div class="container-fluid mt-1">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <form action="#"
                              th:object="${contact}"
                              enctype="multipart/form-data"
                              method="post"
                              th:action="@{/user/process-contact}"
                              class="mt-2">
                                <!--First name -->
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text pb-3 pt-3">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                </div>
                                <input type="text" id="name" name="name" placeholder="Enter first name" class="form-control">
                            </div>
                            <!--Second name -->
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text pb-3 pt-3">
                                        <i class="fas fa-user-alt"></i>
                                    </div>
                                </div>
                            <input type="text" id="secondName" name="secondName" placeholder="Enter nick-name" class="form-control">
                            </div>
                            <!--Phone number-->
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text pb-3 pt-3">
                                        <i class="fa-solid fa-phone"></i>
                                    </div>
                                </div>
                                <input type="number" id="phone" name="phone" placeholder="Enter phone number" class="form-control">
                            </div>
                            <!--Email-->
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text pb-3 pt-3">
                                        <i class="fa-solid fa-envelope"></i>
                                    </div>
                                </div>
                                <input type="email" id="email" name="email" placeholder="Enter email" class="form-control">
                            </div>
                            <!--Work Field-->
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text pb-3 pt-3">
                                        <i class="fa-solid fa-briefcase"></i>
                                    </div>
                                </div>
                                <input type="text" id="work" name="work" placeholder="Enter work field" class="form-control">
                            </div>
                            <!--Contact Description-->
                            <div class="form-group mt-3">
                               <textarea placeholder="Enter contact description" name="description" id="description" class="form-control" rows="10"></textarea>
                            </div>
                            <!--Contact Image-->
                            <div class="custom-file">
                                <input type="file" name="profileImage">
                            </div>
                            <!--Submit-->
                            <div class="container text-center">
                                <button class="btn btn-primary">Save Contact</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>