<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>All Contacts</title>
</head>
<body>
<section>
    <div class="card me-3 ms-3">
        <div class="card-body">
            <h1 class="text-center">Your Contacts</h1>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#Contact ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col" >Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="c : ${contacts}">
                    <th scope="row" th:text="CLSID+${c.cId}">1</th>
                    <td th:text="${c.name}">Mark</td>
                    <td th:text="${c.email}">Otto</td>
                    <td th:text="${c.phone}">@mdo</td>
                    <td>
                        <button class="btn btn-primary me-3"><i class="fa-solid fa-pen"></i></button>
                        <button class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>

                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</section>

</body>
</html>