<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>All Contacts</title>
</head>
<body>
<section>
    <div class="card me-3 ms-3">
        <div class="card-body">
            <h1 class="text-center">Your Contacts</h1>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#Contact ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col" >Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="c : ${contacts}">
                    <th scope="row" th:text="CLSID+${c.cId}">1</th>
                    <td>
                        <img src="" class="profilePic" th:src="@{'/img/'+${c.image}}" alt="profile-pic">
                    </td>
                    <td th:text="${c.name}">Mark</td>
                    <td>
                        <a href="" th:href="@{'/user/contact/'+${c.cId}}"><span th:text="${c.email}"></span></a>
                    </td>
                    <td th:text="${c.phone}">@mdo</td>
                    <td>
                        <button class="btn btn-primary me-3"><i class="fa-solid fa-pen"></i></button>
                        <button class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>

                    </td>
                </tr>
                </tbody>
            </table>
            <!--Pagination part-->
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item" th:if="${currentPage > 0}">
                        <a th:href="@{/user/show-contacts/{page}(page=${currentPage - 1})}" class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:each="i : ${#numbers.sequence(1, totalPages)}"
                        th:classappend="${currentPage == i - 1 ? 'active' : ''}"
                        class="page-item">
                        <a th:href="@{/user/show-contacts/{page}(page=${i - 1})}" class="page-link" th:text="${i}"></a>
                    </li>
                    <li class="page-item" th:if="${currentPage + 1 < totalPages}">
                        <a th:href="@{/user/show-contacts/{page}(page=${currentPage + 1})}" class="page-link" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>

                </ul>
            </nav>
        </div>
    </div>
</section>

</body>
</html>