<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})"
      xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<section>
    <div class="container">
        <div class=" text-center mt-5 ">
            <h1 >Signup form</h1>
            <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>
            <div th:if="${success}" class="alert alert-success" th:text="${success}"></div>
        </div>

        <div class="row ">
            <div class="col-lg-7 mx-auto">
                <div class="card mt-2 mx-auto p-4 bg-light">
                    <div class="card-body bg-light">
                        <div class = "container">
                            <form novalidate th:action="@{/do_register}" id="contact-form" role="form" method="post"
                            th:object="${user}">
                                <div class="controls">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="form_name">Firstname *</label>
                                                <input th:value="${user.name}" id="form_name" type="text" name="name" class="form-control"
                                                   th:classappend="${#fields.hasErrors('name')?'is-invalid':''}" placeholder="Please enter your firstname *"  >
                                                <div th:each="e:${#fields.errors('name')}" class="invalid-feedback" th:text="${e}">
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="form_lastname">Password *</label>
                                                <input th:value="${user.password}" id="form_lastname" type="password" name="password" class="form-control"
                                                 th:classappend="${#fields.hasErrors('password')?'is-invalid':''}" placeholder="Please enter your password *"  >
                                                <div th:each="e:${#fields.errors('password')}" class="invalid-feedback" th:text="${e}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="form_email">Email *</label>
                                                <input th:value="${user.email}" id="form_email" type="email" name="email" class="form-control" th:classappend="${#fields.hasErrors('email')?'is-invalid':''}" placeholder="Please enter your email *">
                                                <div th:each="e:${#fields.errors('email')}" class="invalid-feedback" th:text="${e}"></div>
                                                <div th:if="${duplicateEmail}" class="alert alert-danger" th:text="${duplicateEmail}"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="form_message">About *</label>
                                                <textarea th:classappend="${#fields.hasErrors('about')?'is-invalid':''}" th:value="${user.about}" id="form_message" name="about" class="form-control" placeholder="Write your message here." rows="4"></textarea>
                                                <div th:each="e:${#fields.errors('about')}" class="invalid-feedback">
                                                    <span th:text="${e}"></span>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-12">
                                            <input type="submit" class="btn btn-success btn-send  pt-2 btn-block
                            " value="Send Message" >
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /.8 -->
            </div>
            <!-- /.row-->
        </div>
    </div>

</section>
</body>
</html>
