<!DOCTYPE html>
<html lang="en" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<section>
    <form:form  action="" th:action="@{/do_register}" method="post" th:object="${user}" model>
        <section class="vh-100 gradient-custom">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card bg-dark text-white" style="border-radius: 1rem;">
                            <div class="card-body p-5 text-center">

                                <div class="mb-md-5 mt-md-4 pb-5">

                                    <h2 class="fw-bold mb-2 text-uppercase">Signup</h2>
                                    <p class="text-white-50 mb-5">Please enter your name, login and password!</p>

                                    <!-- Name Field -->
                                    <div class="form-outline form-white mb-4">
                                        <input name="name" th:value="${user.name}" type="text" id="typeNameX" class="form-control form-control-lg"
                                               th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}"/>
                                        <label class="form-label" for="typeNameX">Name</label>
                                        <div class="invalid-feedback" th:each="error : ${#fields.errors('name')}" th:text="${error}">
                                            <!-- Error message will be displayed here -->
                                        </div>
                                    </div>


                                    <!-- Email Field -->
                                    <div class="form-outline form-white mb-4">
                                        <input required name="email" th:value="${user.email}" type="email" id="typeEmailX" class="form-control form-control-lg" />
                                        <label class="form-label" for="typeEmailX">Email</label>
                                    </div>

                                    <!-- Password Field -->
                                    <div class="form-outline form-white mb-4">
                                        <input required name="password" type="password" id="typePasswordX" class="form-control form-control-lg" />
                                        <label class="form-label" for="typePasswordX">Password</label>
                                    </div>

                                    <!-- About Yourself Field -->
                                    <div class="form-outline form-white mb-4">
                                        <textarea required  name="about" th:value="${user.about}" id="aboutYourself" class="form-control" rows="5" placeholder="Tell us something about yourself..."></textarea>
                                        <label class="form-label" for="aboutYourself">About Yourself</label>
                                    </div>

                                    <button class="btn btn-outline-light btn-lg px-5" type="submit">Signup</button>
                                    <!-- Add margin to the left of the Reset button -->
                                    <button class="btn btn-outline-light btn-lg px-5" type="reset" style="margin-left: 20px;">Reset</button>


                                </div>

                                <div>
                                    <p class="mb-0">Have have an account? <a href="#!" class="text-white-50 fw-bold">Login</a>
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form:form>
</section>
</body>
</html>
